html, body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}
h2 {
    margin-top: .8rem;
}
.loading-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.movie-card {
    display: none;
    margin: 0 auto;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
#movie-poster {
    border-radius: 10px;
}
.star-rating {
    color: #FFD700; /* Color dorado para las estrellas */
}
.suggestion-item {
    background-color: #444;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
}
.suggestion-item:hover {
    background-color: #555;
}
#search-input{
    margin-top: .8rem;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Sombra opcional para darle profundidad */
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: .5rem; /* Espacio entre el ícono y el texto */
}

#icon {
    height: 2rem;
}
@media (max-width: 768px) {
    .movie-card {
        width: 90%;
    }
    footer{
        margin-top: 20px;
        position: relative;
    }
    footer a {
        font-size: 1rem;
    }
}


